*.v~
*.sv~
*.vhd~
*.#

Full_adder/*
!Full_adder/Full_adder.srcs

Subtractor/*
!Subtractor/Subtractor.srcs

multiplier/*
!multiplier/multiplier.srcs

frequency_divider/*
!frequency_divider/frequency_divider.srcs

16x2 LCD_control/*
!16x2 LCD_control/16x2 LCD_control.srcs

Debounce/*
!Debounce/Debounce.srcs

LFSR/*
!LFSR/LFSR.srcs

Carry Save Adder/*
!Carry Save Adder/Carry Save Adder.srcs
